examples/node-red-contrib-flow-tester-gui-addon/examples/GUI-Test-Example.json
[{"id":"9b3db84fb21d2ae9","type":"tab","label":"フロー 1","disabled":false,"info":"","env":[]},{"id":"bcdef1528a38ab01","type":"flow-test-config","name":"Test Suite 0","tests":[{"id":"T1dqpqj7o1mo","name":"01-GUI-URL","suite":"bcdef1528a38ab01","timeout":"10","max_actions":"500","actions":{"setup":{"_global_":[{"target":"test1","url":"http://localhost:1880/test1-1","size":"1024,768","performCheck":false,"kind":"addon:GUI-URL"},{"target":"test2","url":"http://localhost:1880/test1-2","size":"800,600","performCheck":false,"kind":"addon:GUI-URL"},{"target":"test1","url":"","filepath":"./save/01-GUI-URL_1.png","performCheck":false,"kind":"addon:GUI-saveScreenshot"},{"target":"test2","url":"","filepath":"./save/01-GUI-URL_2.png","performCheck":false,"kind":"addon:GUI-saveScreenshot"},{"kind":"send","target":"193db0840f528392","value":"01-GUI-URL"}],"fe5f34a07f8fa02d":[],"33f0acbced5f2f2f":[],"3f1bc77ebad6fb7d":[],"89abec8dc8dcd928":[],"3433732293b0efe6":[],"4cbdf19859bd3673":[],"a57d5145d9cc69f8":[],"3a204cb1e4e7e798":[],"3b1b52e7950d2d96":[],"a8b9279ac2b7bb34":[],"3d80cb23855d1f23":[],"ea2689d761c694d9":[],"df63e899f76ec37d":[],"73b88c9ce8eb419b":[],"e2cc4ae0d72b963b":[],"fe3ad091b0d72fa6":[],"01a33fd443f37a9d":[],"5a88bb5ee5f74048":[],"de20304a494f612c":[],"46a0c697fa6f3aa9":[],"e53fcf4665e96479":[],"1851347e41085efa":[],"2135f0ed4da03687":[],"ecbdd8f3f5d1a43f":[],"6b5edcefaf047657":[],"252be38b87101a0c":[],"d9631503adada096":[],"f96271d463f3d005":[],"e9568cd8a3881f7a":[],"7deb2f295e4cf286":[],"b15db00ea98ccdb8":[],"da44efa0625b0c46":[],"b2abfc59dfd6747f":[],"9ad3814da7eb0bf8":[],"e0e8d9808cbefc12":[],"57489d4a6843ed06":[],"bf6dc3e2d4bba78a":[],"08cab205b3caa944":[],"67123a9c0d3e0d6b":[],"2ab47c47fb5f303e":[],"c7e554e9a8a3c157":[],"2486e1ca0a98c73f":[],"71f6558f1dbc157d":[],"0aac7206f22fd418":[],"2c3680f456d44179":[],"334278a4d04eef8e":[],"46fd6974c4ab4dd4":[],"006bc52baad3b791":[],"f79c8d74d708debb":[],"c5143318646fb9fd":[],"640d91fab434d070":[],"553dac4c5471d519":[],"cb0a6d52972bcc02":[],"193db0840f528392":[],"3d690e3169d2d483":[],"6717a5b7fb237bd1":[],"bf0d97744cf36e4c":[],"8e35628ea9d99957":[],"2b0fd9cc8afbdcd6":[],"b6aa9aef3d3647a3":[],"db5b2d254533ef8b":[],"46d010cd56ba8914":[],"29f54a1ad235097e":[],"a4d57d3ae7aff215":[],"f470657e71958b8f":[],"42419f5d347b6c64":[]},"cleanup":{"_global_":[],"fe5f34a07f8fa02d":[],"33f0acbced5f2f2f":[],"3f1bc77ebad6fb7d":[],"89abec8dc8dcd928":[],"3433732293b0efe6":[],"4cbdf19859bd3673":[],"a57d5145d9cc69f8":[],"3a204cb1e4e7e798":[],"3b1b52e7950d2d96":[],"a8b9279ac2b7bb34":[],"3d80cb23855d1f23":[],"ea2689d761c694d9":[],"df63e899f76ec37d":[],"73b88c9ce8eb419b":[],"e2cc4ae0d72b963b":[],"fe3ad091b0d72fa6":[],"01a33fd443f37a9d":[],"5a88bb5ee5f74048":[],"de20304a494f612c":[],"46a0c697fa6f3aa9":[],"e53fcf4665e96479":[],"1851347e41085efa":[],"2135f0ed4da03687":[],"ecbdd8f3f5d1a43f":[],"6b5edcefaf047657":[],"252be38b87101a0c":[],"d9631503adada096":[],"f96271d463f3d005":[],"e9568cd8a3881f7a":[],"7deb2f295e4cf286":[],"b15db00ea98ccdb8":[],"da44efa0625b0c46":[],"b2abfc59dfd6747f":[],"9ad3814da7eb0bf8":[],"e0e8d9808cbefc12":[],"57489d4a6843ed06":[],"bf6dc3e2d4bba78a":[],"08cab205b3caa944":[],"67123a9c0d3e0d6b":[],"2ab47c47fb5f303e":[],"c7e554e9a8a3c157":[],"2486e1ca0a98c73f":[],"71f6558f1dbc157d":[],"0aac7206f22fd418":[],"2c3680f456d44179":[],"334278a4d04eef8e":[],"46fd6974c4ab4dd4":[],"006bc52baad3b791":[],"f79c8d74d708debb":[],"c5143318646fb9fd":[],"640d91fab434d070":[],"553dac4c5471d519":[],"cb0a6d52972bcc02":[],"193db0840f528392":[],"3d690e3169d2d483":[],"6717a5b7fb237bd1":[],"bf0d97744cf36e4c":[],"8e35628ea9d99957":[],"2b0fd9cc8afbdcd6":[],"b6aa9aef3d3647a3":[],"db5b2d254533ef8b":[],"46d010cd56ba8914":[],"29f54a1ad235097e":[],"a4d57d3ae7aff215":[],"f470657e71958b8f":[],"42419f5d347b6c64":[]},"recv":{"fe5f34a07f8fa02d":[],"33f0acbced5f2f2f":[],"3f1bc77ebad6fb7d":[],"89abec8dc8dcd928":[],"a57d5145d9cc69f8":[],"3a204cb1e4e7e798":[],"3b1b52e7950d2d96":[],"a8b9279ac2b7bb34":[],"3d80cb23855d1f23":[],"ea2689d761c694d9":[],"fe3ad091b0d72fa6":[],"01a33fd443f37a9d":[],"5a88bb5ee5f74048":[],"e9568cd8a3881f7a":[],"7deb2f295e4cf286":[],"b15db00ea98ccdb8":[],"b2abfc59dfd6747f":[],"e0e8d9808cbefc12":[],"57489d4a6843ed06":[],"08cab205b3caa944":[],"67123a9c0d3e0d6b":[],"c7e554e9a8a3c157":[],"0aac7206f22fd418":[],"2c3680f456d44179":[],"334278a4d04eef8e":[],"46fd6974c4ab4dd4":[],"006bc52baad3b791":[],"f79c8d74d708debb":[],"c5143318646fb9fd":[],"640d91fab434d070":[],"553dac4c5471d519":[],"193db0840f528392":[{"kind":"match","value":"01-GUI-URL","performCheck":true}],"3d690e3169d2d483":[],"bf0d97744cf36e4c":[],"8e35628ea9d99957":[],"2b0fd9cc8afbdcd6":[],"b6aa9aef3d3647a3":[],"db5b2d254533ef8b":[],"46d010cd56ba8914":[],"29f54a1ad235097e":[],"a4d57d3ae7aff215":[]},"stub":{"fe5f34a07f8fa02d":[],"33f0acbced5f2f2f":[],"3f1bc77ebad6fb7d":[],"89abec8dc8dcd928":[],"a57d5145d9cc69f8":[],"3a204cb1e4e7e798":[],"3b1b52e7950d2d96":[],"a8b9279ac2b7bb34":[],"3d80cb23855d1f23":[],"ea2689d761c694d9":[],"fe3ad091b0d72fa6":[],"01a33fd443f37a9d":[],"5a88bb5ee5f74048":[],"e9568cd8a3881f7a":[],"7deb2f295e4cf286":[],"b15db00ea98ccdb8":[],"b2abfc59dfd6747f":[],"e0e8d9808cbefc12":[],"57489d4a6843ed06":[],"08cab205b3caa944":[],"67123a9c0d3e0d6b":[],"c7e554e9a8a3c157":[],"0aac7206f22fd418":[],"2c3680f456d44179":[],"334278a4d04eef8e":[],"46fd6974c4ab4dd4":[],"006bc52baad3b791":[],"f79c8d74d708debb":[],"c5143318646fb9fd":[],"640d91fab434d070":[],"553dac4c5471d519":[],"193db0840f528392":[],"3d690e3169d2d483":[],"bf0d97744cf36e4c":[],"8e35628ea9d99957":[],"2b0fd9cc8afbdcd6":[],"b6aa9aef3d3647a3":[],"db5b2d254533ef8b":[],"46d010cd56ba8914":[],"29f54a1ad235097e":[],"a4d57d3ae7aff215":[]},"send":{"fe5f34a07f8fa02d":[],"33f0acbced5f2f2f":[],"3f1bc77ebad6fb7d":[],"89abec8dc8dcd928":[],"3433732293b0efe6":[],"4cbdf19859bd3673":[],"a57d5145d9cc69f8":[],"3a204cb1e4e7e798":[],"3d80cb23855d1f23":[],"fe3ad091b0d72fa6":[],"01a33fd443f37a9d":[],"5a88bb5ee5f74048":[],"f96271d463f3d005":[],"e9568cd8a3881f7a":[],"b15db00ea98ccdb8":[],"da44efa0625b0c46":[],"b2abfc59dfd6747f":[],"9ad3814da7eb0bf8":[],"e0e8d9808cbefc12":[],"57489d4a6843ed06":[],"bf6dc3e2d4bba78a":[],"08cab205b3caa944":[],"67123a9c0d3e0d6b":[],"2ab47c47fb5f303e":[],"c7e554e9a8a3c157":[],"2486e1ca0a98c73f":[],"71f6558f1dbc157d":[],"0aac7206f22fd418":[],"2c3680f456d44179":[],"334278a4d04eef8e":[],"46fd6974c4ab4dd4":[],"f79c8d74d708debb":[],"c5143318646fb9fd":[],"640d91fab434d070":[],"3d690e3169d2d483":[],"6717a5b7fb237bd1":[],"8e35628ea9d99957":[],"2b0fd9cc8afbdcd6":[],"b6aa9aef3d3647a3":[],"db5b2d254533ef8b":[],"46d010cd56ba8914":[],"29f54a1ad235097e":[],"a4d57d3ae7aff215":[]}}},{"id":"Tr3j3798bung","name":"02-GUI-Keys","suite":"bcdef1528a38ab01","timeout":"10","max_actions":"500","actions":{"setup":{"_global_":[{"target":"test","url":"http://localhost:1880/ui/#!/0","size":"","performCheck":false,"kind":"addon:GUI-URL"},{"kind":"send","target":"3a204cb1e4e7e798","value":"0"},{"target":"test","selector":"#\\30 2_GUI-Keys_Group_1_cards > md-card.nr-dashboard-slider._md.layout-align-space-between-center.layout-row.flex.visible","type":"str","value":"slider","timeout":"5000","performCheck":false,"kind":"addon:GUI-waitUntil"},{"target":"test","key":"Tab,Tab","performCheck":false,"kind":"addon:GUI-Keys"},{"target":"test","key":"ArrowRight,ArrowRight,ArrowRight,ArrowRight,ArrowRight,ArrowRight,ArrowRight,ArrowRight,ArrowRight,ArrowRight,ArrowRight,ArrowRight","performCheck":false,"kind":"addon:GUI-Keys"},{"kind":"wait","wait":"1000"},{"target":"test","url":"","filepath":"./save/02-GUI-Keys.png","performCheck":false,"kind":"addon:GUI-saveScreenshot"},{"kind":"send","target":"193db0840f528392","value":"02-GUI-Keys"}],"193db0840f528392":[]},"cleanup":{"_global_":[],"193db0840f528392":[]},"recv":{"193db0840f528392":[{"kind":"match","value":"02-GUI-Keys","performCheck":true}]},"stub":{"193db0840f528392":[]},"send":{}}},{"id":"Tm3obhhm6vug","name":"03-GUI-saveScreenshot","suite":"bcdef1528a38ab01","timeout":"10","max_actions":"500","actions":{"setup":{"_global_":[{"target":"test","url":"http://localhost:1880/test3","filepath":"./save/03-GUI-saveScreenshot.png","performCheck":false,"kind":"addon:GUI-saveScreenshot"},{"kind":"send","target":"193db0840f528392","value":"03-GUI-saveScreenshot"}],"193db0840f528392":[]},"cleanup":{"_global_":[],"193db0840f528392":[]},"recv":{"193db0840f528392":[{"kind":"match","value":"03-GUI-saveScreenshot","performCheck":true}]},"stub":{"193db0840f528392":[]},"send":{}}},{"id":"T8ehjolrb0og","name":"04-GUI-setCookies","suite":"bcdef1528a38ab01","timeout":"10","max_actions":"500","actions":{"setup":{"_global_":[{"target":"test","url":"http://localhost:1880/test4","size":"","performCheck":false,"kind":"addon:GUI-URL"},{"target":"test","cookie":"[{\"name\":\"test1\",\"value\":\"123\"},{\"name\":\"test2\",\"value\":\"456\"},{\"name\":\"test3\",\"value\":\"789\"}]","performCheck":false,"kind":"addon:GUI-setCookies"},{"target":"test","url":"http://localhost:1880/test4","size":"","performCheck":false,"kind":"addon:GUI-URL"},{"target":"test","url":"","filepath":"./save/04-GUI-setCookies.png","performCheck":false,"kind":"addon:GUI-saveScreenshot"},{"kind":"send","target":"193db0840f528392","value":"04-GUI-setCookies"}],"193db0840f528392":[]},"cleanup":{"_global_":[],"193db0840f528392":[]},"recv":{"193db0840f528392":[{"kind":"match","value":"04-GUI-setCookies","performCheck":true}]},"stub":{"193db0840f528392":[]},"send":{}}},{"id":"Tqicqojskkb","name":"05-GUI-setTimeout","suite":"bcdef1528a38ab01","timeout":"10","max_actions":"500","actions":{"setup":{"_global_":[{"target":"test1","timeout":"{\"pageLoad\":5000}","performCheck":false,"kind":"addon:GUI-setTimeout"},{"target":"test1","url":"http://localhost:1880/test5-1","size":"","performCheck":false,"kind":"addon:GUI-URL"},{"target":"test2","timeout":"{\"pageLoad\":5000}","performCheck":false,"kind":"addon:GUI-setTimeout"},{"target":"test2","url":"http://localhost:1880/test5-2","size":"","performCheck":false,"kind":"addon:GUI-URL"},{"kind":"send","target":"193db0840f528392","value":"05-GUI-setTimeout"}],"193db0840f528392":[]},"cleanup":{"_global_":[],"193db0840f528392":[]},"recv":{"193db0840f528392":[{"kind":"match","value":"05-GUI-setTimeout","performCheck":true}]},"stub":{"193db0840f528392":[]},"send":{}}},{"id":"Tktn10o59iug","name":"06-GUI-waitUntil","suite":"bcdef1528a38ab01","timeout":"10","max_actions":"500","actions":{"setup":{"_global_":[{"target":"test1","url":"http://localhost:1880/test6-1","size":"","performCheck":false,"kind":"addon:GUI-URL"},{"target":"test1","selector":"#ID_TEXT","type":"re","value":"\\d{2}","timeout":"10000","performCheck":false,"kind":"addon:GUI-waitUntil"},{"target":"test2","url":"http://localhost:1880/test6-2","size":"","performCheck":false,"kind":"addon:GUI-URL"},{"target":"test2","selector":"#ID_TEXT","type":"re","value":"\\d{2}","timeout":"10000","performCheck":false,"kind":"addon:GUI-waitUntil"},{"kind":"send","target":"193db0840f528392","value":"06-GUI-waitUntil"}],"193db0840f528392":[]},"cleanup":{"_global_":[],"193db0840f528392":[]},"recv":{"193db0840f528392":[{"kind":"match","value":"06-GUI-waitUntil","performCheck":true}]},"stub":{"193db0840f528392":[]},"send":{}}},{"id":"Taqk7q2rj9ng","name":"07-GUI-addValue","suite":"bcdef1528a38ab01","timeout":"10","max_actions":"500","actions":{"setup":{"_global_":[{"kind":"send","target":"640d91fab434d070","value":"test addValue "},{"target":"test","url":"http://localhost:1880/ui/#!/1","size":"","performCheck":false,"kind":"addon:GUI-URL"},{"target":"test","selector":"#input_0","type":"str","value":"","timeout":"5000","performCheck":false,"kind":"addon:GUI-waitUntil"},{"target":"test","selector":"#input_0","value":"add1 ","performCheck":false,"kind":"addon:GUI-addValue"},{"target":"test","selector":"#input_0","value":"add2 ","performCheck":false,"kind":"addon:GUI-addValue"},{"target":"test","selector":"#input_0","value":"add3","performCheck":false,"kind":"addon:GUI-addValue"},{"target":"test","url":"","filepath":"./save/07-GUI-addValue.png","performCheck":false,"kind":"addon:GUI-saveScreenshot"},{"kind":"send","target":"193db0840f528392","value":"07-GUI-addValue"}],"553dac4c5471d519":[],"193db0840f528392":[]},"cleanup":{"_global_":[],"553dac4c5471d519":[],"193db0840f528392":[]},"recv":{"553dac4c5471d519":[{"kind":"match","value":"test addValue add1 add2 add3","performCheck":true}],"193db0840f528392":[{"kind":"match","value":"07-GUI-addValue","performCheck":true}]},"stub":{"553dac4c5471d519":[],"193db0840f528392":[]},"send":{}}},{"id":"T1f2t37fo80o","name":"08-GUI-clearValue","suite":"bcdef1528a38ab01","timeout":"10","max_actions":"500","actions":{"setup":{"_global_":[{"kind":"send","target":"640d91fab434d070","value":"test clearValue"},{"target":"test","url":"http://localhost:1880/ui/#!/1","size":"","performCheck":false,"kind":"addon:GUI-URL"},{"target":"test","selector":"#input_0","type":"str","value":"","timeout":"5000","performCheck":false,"kind":"addon:GUI-waitUntil"},{"target":"test","selector":"#input_0","performCheck":false,"kind":"addon:GUI-clearValue"},{"target":"test","selector":"#input_0","value":"Test 08-GUI-clearValue","performCheck":false,"kind":"addon:GUI-addValue"},{"target":"test","url":"","filepath":"./save/08-GUI-clearValue.png","performCheck":false,"kind":"addon:GUI-saveScreenshot"},{"kind":"send","target":"193db0840f528392","value":"08-GUI-clearValue"}],"553dac4c5471d519":[],"193db0840f528392":[]},"cleanup":{"_global_":[],"553dac4c5471d519":[],"193db0840f528392":[]},"recv":{"553dac4c5471d519":[{"kind":"match","value":"Test 08-GUI-clearValue","performCheck":true}],"193db0840f528392":[{"kind":"match","value":"08-GUI-clearValue","performCheck":true}]},"stub":{"553dac4c5471d519":[],"193db0840f528392":[]},"send":{}}},{"id":"Tgbjs7hefb9","name":"09-GUI-click","suite":"bcdef1528a38ab01","timeout":"10","max_actions":"500","actions":{"setup":{"_global_":[{"kind":"send","target":"ea2689d761c694d9","value":""},{"target":"test","url":"http://localhost:1880/ui/#!/2","size":"","performCheck":false,"kind":"addon:GUI-URL"},{"target":"test","selector":"#\\30 9_GUI-click_Group_1_cards > md-card.nr-dashboard-button._md.visible > button","type":"str","value":"BUTTON","timeout":"5000","performCheck":false,"kind":"addon:GUI-waitUntil"},{"target":"test","selector":"#\\30 9_GUI-click_Group_1_cards > md-card.nr-dashboard-button._md.visible > button","clickkind":"single","performCheck":false,"kind":"addon:GUI-click"},{"kind":"wait","wait":"1000"},{"target":"test","url":"","filepath":"./save/09-GUI-click.png","performCheck":false,"kind":"addon:GUI-saveScreenshot"},{"kind":"send","target":"193db0840f528392","value":"09-GUI-click"}],"5a88bb5ee5f74048":[],"193db0840f528392":[]},"cleanup":{"_global_":[],"5a88bb5ee5f74048":[],"193db0840f528392":[]},"recv":{"5a88bb5ee5f74048":[],"193db0840f528392":[{"kind":"match","value":"09-GUI-click","performCheck":true}]},"stub":{"5a88bb5ee5f74048":[],"193db0840f528392":[]},"send":{"5a88bb5ee5f74048":[{"kind":"match","value":"Button was clicked.","performCheck":true}]}}},{"id":"Tcacec5v6mao","name":"10-GUI-getValue","suite":"bcdef1528a38ab01","timeout":"10","max_actions":"500","actions":{"setup":{"_global_":[{"target":"test","url":"http://localhost:1880/test10","size":"","performCheck":false,"kind":"addon:GUI-URL"},{"kind":"click","target":"29e3ad51752ad855"}],"193db0840f528392":[],"a4d57d3ae7aff215":[],"bf0d97744cf36e4c":[]},"cleanup":{"_global_":[],"193db0840f528392":[],"a4d57d3ae7aff215":[],"bf0d97744cf36e4c":[]},"recv":{"193db0840f528392":[{"kind":"match","value":"10-GUI-getValue","performCheck":true}],"a4d57d3ae7aff215":[{"target":"test","selector":"#ID_TAG","getkind":"tag","getname":"","type":"global","value":"tag","performCheck":false,"kind":"addon:GUI-getValue"},{"target":"test","selector":"#ID_TEXT","getkind":"text","getname":"","type":"global","value":"text","performCheck":false,"kind":"addon:GUI-getValue"},{"target":"test","selector":"#ID_PROP","getkind":"prop","getname":"testprop","type":"flow","value":"property","performCheck":false,"kind":"addon:GUI-getValue"},{"target":"test","selector":"#ID_VALUE","getkind":"val","getname":"","type":"global","value":"value","performCheck":false,"kind":"addon:GUI-getValue"},{"target":"test","selector":"#ID_ATTR","getkind":"attr","getname":"attribute","type":"flow","value":"attribute","performCheck":false,"kind":"addon:GUI-getValue"},{"target":"test","selector":"#ID_VALUE","getkind":"prop","getname":"type","type":"flow","value":"property","performCheck":false,"kind":"addon:GUI-getValue"}],"bf0d97744cf36e4c":[]},"stub":{"193db0840f528392":[],"a4d57d3ae7aff215":[],"bf0d97744cf36e4c":[]},"send":{"a4d57d3ae7aff215":[{"kind":"wait","wait":"2000"},{"kind":"match","value":"h1TEST-TextTEST-ValueTEST-Attributetext","performCheck":true},{"kind":"send","target":"193db0840f528392","value":"10-GUI-getValue"}]}}},{"id":"T2cbqvf3cgc8","name":"11-GUI-moveTo","suite":"bcdef1528a38ab01","timeout":"10","max_actions":"500","actions":{"setup":{"_global_":[{"target":"test","url":"http://localhost:1880/ui/#!/3","size":"","performCheck":false,"kind":"addon:GUI-URL"},{"target":"test","selector":"#\\31 1_GUI-moveTo_Group_1_cards > md-card:nth-child(1) > button","type":"str","value":"BUTTON 1","timeout":"5000","performCheck":false,"kind":"addon:GUI-waitUntil"},{"target":"test","selector":"#\\31 1_GUI-moveTo_Group_1_cards > md-card:nth-child(1) > button","performCheck":false,"kind":"addon:GUI-moveTo"},{"kind":"wait","wait":"1500"},{"target":"test","url":"","filepath":"./save/11-GUI-moveTo_1.png","performCheck":false,"kind":"addon:GUI-saveScreenshot"},{"target":"test","selector":"#\\31 1_GUI-moveTo_Group_1_cards > md-card:nth-child(2) > button","performCheck":false,"kind":"addon:GUI-moveTo"},{"kind":"wait","wait":"1500"},{"target":"test","url":"","filepath":"./save/11-GUI-moveTo_2.png","performCheck":false,"kind":"addon:GUI-saveScreenshot"},{"target":"test","selector":"#\\31 1_GUI-moveTo_Group_1_cards > md-card:nth-child(3) > button","performCheck":false,"kind":"addon:GUI-moveTo"},{"kind":"wait","wait":"1500"},{"target":"test","url":"","filepath":"./save/11-GUI-moveTo_3.png","performCheck":false,"kind":"addon:GUI-saveScreenshot"},{"kind":"send","target":"193db0840f528392","value":"11-GUI-moveTo"}],"193db0840f528392":[]},"cleanup":{"_global_":[],"193db0840f528392":[]},"recv":{"193db0840f528392":[{"kind":"match","value":"11-GUI-moveTo","performCheck":true}]},"stub":{"193db0840f528392":[]},"send":{}}},{"id":"Tn9de8bpkfa8","name":"12-GUI-setValue","suite":"bcdef1528a38ab01","timeout":"10","max_actions":"500","actions":{"setup":{"_global_":[{"kind":"send","target":"a8b9279ac2b7bb34","value":""},{"target":"test","url":"http://localhost:1880/ui/#!/4","size":"","performCheck":false,"kind":"addon:GUI-URL"},{"target":"test","selector":"#input_0","type":"str","value":"","timeout":"5000","performCheck":false,"kind":"addon:GUI-waitUntil"},{"target":"test","selector":"#input_0","value":"Test text","performCheck":false,"kind":"addon:GUI-setValue"},{"kind":"wait","wait":"1000"},{"target":"test","url":"","filepath":"./save/12-GUI-setValue.png","performCheck":false,"kind":"addon:GUI-saveScreenshot"},{"kind":"send","target":"193db0840f528392","value":"12-GUI-setValue"}],"fe3ad091b0d72fa6":[],"193db0840f528392":[]},"cleanup":{"_global_":[],"fe3ad091b0d72fa6":[],"193db0840f528392":[]},"recv":{"fe3ad091b0d72fa6":[],"193db0840f528392":[{"kind":"match","value":"12-GUI-setValue","performCheck":true}]},"stub":{"fe3ad091b0d72fa6":[],"193db0840f528392":[]},"send":{"fe3ad091b0d72fa6":[{"kind":"match","value":"Test text has been entered.","performCheck":true}]}}}]},{"id":"ea7e40d01b3c9e92","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"29571e93d0cd3bd8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"add392ac2ced5ed7","type":"ui_tab","name":"02 GUI-Keys","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"0779fd07b585202b","type":"ui_group","name":"Group 1","tab":"add392ac2ced5ed7","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"44d046383f6e170c","type":"ui_group","name":"Group 1","tab":"26c328d9fd99402b","order":1,"disp":true,"width":6},{"id":"26c328d9fd99402b","type":"ui_tab","name":"09 GUI-click","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"69ef5cd81fbe23c4","type":"ui_tab","name":"12 GUI-setValue","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"2b4a3bdb043675fd","type":"ui_group","name":"Group 1","tab":"69ef5cd81fbe23c4","order":1,"disp":true,"width":6},{"id":"51a7624fadecbb11","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"785e79a6406a34f0","type":"ui_tab","name":"07 GUI-addValue 08-clearValue","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2c037ff2393ce306","type":"ui_group","name":"Group 1","tab":"785e79a6406a34f0","order":1,"disp":true,"width":6},{"id":"d7a48474c86fb492","type":"ui_tab","name":"11 GUI-moveTo","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"a94a995999abb6ff","type":"ui_group","name":"Group 1","tab":"d7a48474c86fb492","order":1,"disp":true,"width":6},{"id":"3433732293b0efe6","type":"http in","z":"9b3db84fb21d2ae9","name":"","url":"/test1-1","method":"get","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["89abec8dc8dcd928"]]},{"id":"9c703e8de2e3c532","type":"http response","z":"9b3db84fb21d2ae9","name":"","statusCode":"","headers":{},"x":470,"y":100,"wires":[]},{"id":"89abec8dc8dcd928","type":"template","z":"9b3db84fb21d2ae9","name":"Size: 1024x768","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <meta charset=\"utf-8\">\n    <title>01 GUI-URL TEST</title>\n</head>\n\n<body>\n    <h1>01 GUI-URL TEST1</h1>\n    <p>Size: 1024x768</p>\n    <p>test test test test test test test test test test test test test test test test test test test test test test test test\n    test test test test test test test test test test test test test test test test test test test test test test test test\n    test test test test test test test test test test test test test test test test test test test test test test test test\n    test test test test test test test test test test test test test test test</p>\n</body>\n\n</html>","output":"str","x":300,"y":100,"wires":[["9c703e8de2e3c532"]]},{"id":"4cbdf19859bd3673","type":"http in","z":"9b3db84fb21d2ae9","name":"","url":"/test1-2","method":"get","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["a57d5145d9cc69f8"]]},{"id":"741bea42aff840bc","type":"http response","z":"9b3db84fb21d2ae9","name":"","statusCode":"","headers":{},"x":470,"y":160,"wires":[]},{"id":"a57d5145d9cc69f8","type":"template","z":"9b3db84fb21d2ae9","name":"Size: 800x600","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <meta charset=\"utf-8\">\n    <title>01 GUI-URL TEST</title>\n</head>\n\n<body>\n    <h1>01 GUI-URL TEST2</h1>\n    <p>Size: 800x600</p>\n    <p>test test test test test test test test test test test test test test test test test test test test test test test test\n    test test test test test test test test test test test test test test test test test test test test test test test test\n    test test test test test test test test test test test test test test test test test test test test test test test test\n    test test test test test test test test test test test test test test test</p>\n</body>\n\n</html>","output":"str","x":300,"y":160,"wires":[["741bea42aff840bc"]]},{"id":"3a204cb1e4e7e798","type":"ui_slider","z":"9b3db84fb21d2ae9","name":"","label":"slider","tooltip":"","group":"0779fd07b585202b","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":90,"y":260,"wires":[["3b1b52e7950d2d96"]]},{"id":"3b1b52e7950d2d96","type":"ui_gauge","z":"9b3db84fb21d2ae9","name":"","group":"0779fd07b585202b","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":230,"y":260,"wires":[]},{"id":"01a33fd443f37a9d","type":"ui_button","z":"9b3db84fb21d2ae9","name":"","group":"44d046383f6e170c","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Button","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":1080,"wires":[["5a88bb5ee5f74048"]]},{"id":"ea2689d761c694d9","type":"ui_text","z":"9b3db84fb21d2ae9","group":"44d046383f6e170c","order":2,"width":0,"height":0,"name":"text","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","x":490,"y":1080,"wires":[]},{"id":"5a88bb5ee5f74048","type":"function","z":"9b3db84fb21d2ae9","name":"","func":"if (msg.payload != \"\") {\n    msg.payload += \" was clicked.\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1080,"wires":[["ea2689d761c694d9"]]},{"id":"3d80cb23855d1f23","type":"ui_text_input","z":"9b3db84fb21d2ae9","name":"","label":"","tooltip":"","group":"2b4a3bdb043675fd","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":100,"y":1520,"wires":[["fe3ad091b0d72fa6"]]},{"id":"fe3ad091b0d72fa6","type":"function","z":"9b3db84fb21d2ae9","name":"","func":"if (msg.payload != \"\") {\n    msg.payload += \" has been entered.\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1520,"wires":[["a8b9279ac2b7bb34"]]},{"id":"a8b9279ac2b7bb34","type":"ui_text","z":"9b3db84fb21d2ae9","group":"2b4a3bdb043675fd","order":2,"width":0,"height":0,"name":"text","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","x":510,"y":1520,"wires":[]},{"id":"df63e899f76ec37d","type":"comment","z":"9b3db84fb21d2ae9","name":"09 GUI-click","info":"","x":110,"y":1040,"wires":[]},{"id":"73b88c9ce8eb419b","type":"comment","z":"9b3db84fb21d2ae9","name":"12 GUI-setValue","info":"","x":120,"y":1480,"wires":[]},{"id":"e2cc4ae0d72b963b","type":"comment","z":"9b3db84fb21d2ae9","name":"02 GUI-Keys","info":"","x":110,"y":220,"wires":[]},{"id":"de20304a494f612c","type":"comment","z":"9b3db84fb21d2ae9","name":"01 GUI-URL","info":"","x":110,"y":40,"wires":[]},{"id":"46a0c697fa6f3aa9","type":"comment","z":"9b3db84fb21d2ae9","name":"03 GUI-saveScreenshot","info":"","x":140,"y":340,"wires":[]},{"id":"e53fcf4665e96479","type":"comment","z":"9b3db84fb21d2ae9","name":"04 GUI-setCookies","info":"","x":130,"y":460,"wires":[]},{"id":"1851347e41085efa","type":"comment","z":"9b3db84fb21d2ae9","name":"05 GUI-setTimeout","info":"タイムアウトしてもテストフローが停止しない。\n用途が不明","x":130,"y":580,"wires":[]},{"id":"2135f0ed4da03687","type":"comment","z":"9b3db84fb21d2ae9","name":"06 GUI-waitUntil","info":"","x":120,"y":760,"wires":[]},{"id":"ecbdd8f3f5d1a43f","type":"comment","z":"9b3db84fb21d2ae9","name":"07 GUI-addValue","info":"","x":120,"y":940,"wires":[]},{"id":"6b5edcefaf047657","type":"comment","z":"9b3db84fb21d2ae9","name":"08 GUI-clearValue","info":"","x":310,"y":940,"wires":[]},{"id":"252be38b87101a0c","type":"comment","z":"9b3db84fb21d2ae9","name":"10 GUI-getValue","info":"","x":120,"y":1140,"wires":[]},{"id":"d9631503adada096","type":"comment","z":"9b3db84fb21d2ae9","name":"11 GUI-moveTo","info":"","x":120,"y":1300,"wires":[]},{"id":"f96271d463f3d005","type":"http in","z":"9b3db84fb21d2ae9","name":"","url":"/test3","method":"get","upload":false,"swaggerDoc":"","x":100,"y":380,"wires":[["e9568cd8a3881f7a"]]},{"id":"3646275cbe45db61","type":"http response","z":"9b3db84fb21d2ae9","name":"","statusCode":"","headers":{},"x":550,"y":380,"wires":[]},{"id":"e9568cd8a3881f7a","type":"template","z":"9b3db84fb21d2ae9","name":"URL: http://localhost:1880/test3","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <meta charset=\"utf-8\">\n    <title>03 GUI-savaScreenshot TEST</title>\n</head>\n\n<body>\n    <h1>03 GUI-savaScreenshot TEST</h1>\n    <p>URL: http://localhost:1880/test3</p>\n</body>\n\n</html>","output":"str","x":330,"y":380,"wires":[["3646275cbe45db61"]]},{"id":"b15db00ea98ccdb8","type":"function","z":"9b3db84fb21d2ae9","name":"","func":"msg.payload = JSON.stringify(msg.req.cookies, null, 4);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":500,"wires":[["b2abfc59dfd6747f"]]},{"id":"da44efa0625b0c46","type":"http in","z":"9b3db84fb21d2ae9","name":"","url":"/test4","method":"get","upload":false,"swaggerDoc":"","x":100,"y":500,"wires":[["b15db00ea98ccdb8"]]},{"id":"b2abfc59dfd6747f","type":"template","z":"9b3db84fb21d2ae9","name":"Cookies","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<head>\n    <meta charset=\"utf-8\">\n    <title>04 GUI-setCookies TEST</title>\n</head>\n<body>\n    <h1>04 GUI-setCookies TEST</h1>\n    <pre>{{ payload }}</pre>\n</body>\n</html>","output":"str","x":420,"y":500,"wires":[["c3c9bd6b22cdf5c4"]]},{"id":"c3c9bd6b22cdf5c4","type":"http response","z":"9b3db84fb21d2ae9","name":"","statusCode":"","headers":{},"x":580,"y":500,"wires":[]},{"id":"9ad3814da7eb0bf8","type":"http in","z":"9b3db84fb21d2ae9","name":"","url":"/test5-1","method":"get","upload":false,"swaggerDoc":"","x":110,"y":620,"wires":[["57489d4a6843ed06"]]},{"id":"e0e8d9808cbefc12","type":"template","z":"9b3db84fb21d2ae9","name":"wait page","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!DOCTYPE html>\n\n<head>\n    <meta charset=\"utf-8\">\n    <title>05 GUI-setTimeout TEST</title>\n</head>\n\n<body>\n    <h1>05 GUI-setTimeout TEST1</h1>\n</body>\n\n</html>","output":"str","x":460,"y":620,"wires":[["273bd1c5fba89419"]]},{"id":"57489d4a6843ed06","type":"delay","z":"9b3db84fb21d2ae9","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":280,"y":620,"wires":[["e0e8d9808cbefc12"]]},{"id":"bf6dc3e2d4bba78a","type":"http in","z":"9b3db84fb21d2ae9","name":"","url":"/test5-2","method":"get","upload":false,"swaggerDoc":"","x":110,"y":680,"wires":[["08cab205b3caa944"]]},{"id":"08cab205b3caa944","type":"delay","z":"9b3db84fb21d2ae9","name":"depay 6s (time out)","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":310,"y":680,"wires":[["e0e8d9808cbefc12"]]},{"id":"2486e1ca0a98c73f","type":"http in","z":"9b3db84fb21d2ae9","name":"","url":"/test6-1","method":"get","upload":false,"swaggerDoc":"","x":110,"y":800,"wires":[["f79c8d74d708debb"]]},{"id":"71f6558f1dbc157d","type":"http in","z":"9b3db84fb21d2ae9","name":"","url":"/test6-2","method":"get","upload":false,"swaggerDoc":"","x":110,"y":860,"wires":[["c5143318646fb9fd"]]},{"id":"46fd6974c4ab4dd4","type":"template","z":"9b3db84fb21d2ae9","name":"wait text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n\n<head>\n    <meta charset=\"utf-8\">\n    <title>06 GUI-waitUntil TEST</title>\n</head>\n\n<body>\n    <h1>06 GUI-waitUntil TEST</h1>\n    <p id=\"ID_TEXT\">Regular expression match test.</p></body>\n</html>\n\n<script>\nwindow.setTimeout(reWrite, {{ payload }});\nfunction reWrite()\n{\n  if (document.getElementById)\n  {\n      document.getElementById(\"ID_TEXT\").textContent=\"Test 06-GUI-waitUntil\";\n  }\n}\n</script>","output":"str","x":460,"y":800,"wires":[["6075415beb6878a0"]]},{"id":"6075415beb6878a0","type":"http response","z":"9b3db84fb21d2ae9","name":"","statusCode":"","headers":{},"x":610,"y":800,"wires":[]},{"id":"f79c8d74d708debb","type":"change","z":"9b3db84fb21d2ae9","name":"delay 9s","rules":[{"t":"set","p":"payload","pt":"msg","to":"9000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":800,"wires":[["46fd6974c4ab4dd4"]]},{"id":"c5143318646fb9fd","type":"change","z":"9b3db84fb21d2ae9","name":"delay 11s (time out)","rules":[{"t":"set","p":"payload","pt":"msg","to":"10000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":860,"wires":[["46fd6974c4ab4dd4"]]},{"id":"640d91fab434d070","type":"ui_text_input","z":"9b3db84fb21d2ae9","name":"","label":"","tooltip":"","group":"2c037ff2393ce306","order":0,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":100,"y":980,"wires":[["553dac4c5471d519"]]},{"id":"553dac4c5471d519","type":"debug","z":"9b3db84fb21d2ae9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":980,"wires":[]},{"id":"cb0a6d52972bcc02","type":"comment","z":"9b3db84fb21d2ae9","name":"99 TestEnd","info":"","x":100,"y":1600,"wires":[]},{"id":"193db0840f528392","type":"debug","z":"9b3db84fb21d2ae9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":1640,"wires":[]},{"id":"a009dbfb3c8dcba9","type":"inject","z":"9b3db84fb21d2ae9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1640,"wires":[["193db0840f528392"]]},{"id":"3d690e3169d2d483","type":"template","z":"9b3db84fb21d2ae9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <meta charset=\"utf-8\">\n    <title>10 GUI-getValue TEST</title>\n</head>\n\n<body>\n    <h1 id=\"ID_TAG\">10 GUI-getValue TEST</h1>\n    <p id=\"ID_TEXT\">TEST-Text</p>\n    <div id=\"ID_ATTR\" attribute=\"TEST-Attribute\"></div>\n    <input type=\"text\" value=\"TEST-Value\" id=\"ID_VALUE\" />\n<body>\n\n</html>\n","output":"str","x":300,"y":1180,"wires":[["d7fe4424960b4eba"]]},{"id":"6717a5b7fb237bd1","type":"http in","z":"9b3db84fb21d2ae9","name":"","url":"/test10","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1180,"wires":[["3d690e3169d2d483"]]},{"id":"d7fe4424960b4eba","type":"http response","z":"9b3db84fb21d2ae9","name":"","statusCode":"","headers":{},"x":490,"y":1180,"wires":[]},{"id":"29e3ad51752ad855","type":"inject","z":"9b3db84fb21d2ae9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1220,"wires":[["a4d57d3ae7aff215"]]},{"id":"bf0d97744cf36e4c","type":"debug","z":"9b3db84fb21d2ae9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":1220,"wires":[]},{"id":"b6aa9aef3d3647a3","type":"ui_button","z":"9b3db84fb21d2ae9","name":"","group":"a94a995999abb6ff","order":1,"width":0,"height":0,"passthru":false,"label":"Button 1","tooltip":"Button 1","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":1340,"wires":[[]]},{"id":"db5b2d254533ef8b","type":"ui_button","z":"9b3db84fb21d2ae9","name":"","group":"a94a995999abb6ff","order":2,"width":0,"height":0,"passthru":false,"label":"Button 2","tooltip":"Button 2","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":1380,"wires":[[]]},{"id":"46d010cd56ba8914","type":"ui_button","z":"9b3db84fb21d2ae9","name":"","group":"a94a995999abb6ff","order":3,"width":0,"height":0,"passthru":false,"label":"Button 3","tooltip":"Button 3","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":1420,"wires":[[]]},{"id":"a4d57d3ae7aff215","type":"change","z":"9b3db84fb21d2ae9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$globalContext(\"tag\") & $globalContext(\"text\") & $globalContext(\"value\") & $flowContext(\"attribute\") &  $flowContext(\"property\")  \t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1220,"wires":[["bf0d97744cf36e4c"]]},{"id":"f470657e71958b8f","type":"comment","z":"9b3db84fb21d2ae9","name":"Check the console log for the result.","info":"","x":580,"y":680,"wires":[]},{"id":"42419f5d347b6c64","type":"comment","z":"9b3db84fb21d2ae9","name":"Check the console log for the result.","info":"","x":580,"y":860,"wires":[]},{"id":"273bd1c5fba89419","type":"http response","z":"9b3db84fb21d2ae9","name":"","statusCode":"","headers":{},"x":620,"y":620,"wires":[]}]